:root {
  --border-radius: 2px;
  --border-radius-lg: 4px;
  --border-radius-sm: 2px;
  --white-1a: rgba(255, 255, 255, 0.1);
  --white-1: #28455c;
  --white-2a: rgba(255, 255, 255, 0.3);
  --white-2: #586f80;
  --white-3a: rgba(255, 255, 255, 0.4);
  --white-3: #708392;
  --white-4a: rgba(255, 255, 255, 0.7);
  --white-4: #b8c1c9;
  --white-5a: rgba(255, 255, 255, 1);
  --blue-05: #eff5ff;
  --blue-1: #dce4ff;
  --blue-2: #bacaff;
  --blue-3: #97afff;
  --blue-4: #7595ff;
  --blue-5: #3b82f6;
  --blue-6: #4265dc;
  --blue-7: #3151ba;
  --blue-8: #213c97;
  --blue-9: #102875;
  --blue-10: #001352;
  --green-05: #f1fcf5;
  --green-1: #dffbeb;
  --green-2: #bff7d6;
  --green-3: #9ef3c2;
  --green-4: #7eefad;
  --green-5: #5eeb99;
  --green-6: #4dc981;
  --green-7: #3ca769;
  --green-8: #2a8650;
  --green-9: #196438;
  --green-10: #196438;
  --red-05: #fff1f1;
  --red-1: #fbdfdf;
  --red-2: #f7bfbf;
  --red-3: #f39e9e;
  --red-4: #ef7e7e;
  --red-5: #eb5e5e;
  --red-6: #c94d4d;
  --red-7: #a73c3c;
  --red-8: #862a2a;
  --red-9: #641919;
  --red-10: #420808;
  --yellow-1: #fefae0;
  --yellow-2: #fef5c1;
  --yellow-3: #fdf0a3;
  --yellow-4: #fdeb84;
  --yellow-5: #fce665;
  --yellow-6: #ddc851;
  --yellow-7: #beab3d;
  --yellow-8: #9e8d2a;
  --yellow-9: #7f7016;
  --yellow-10: #605202;
  --orange-1: #feede0;
  --orange-2: #fedbc1;
  --orange-3: #fdc8a3;
  --orange-4: #fdb684;
  --orange-5: #fca465;
  --orange-6: #dd8b51;
  --orange-7: #be733d;
  --orange-8: #9e5a2a;
  --orange-9: #7f4216;
  --orange-10: #602902;
  --purple-1: #e6dcf9;
  --purple-2: #ccb9f3;
  --purple-3: #b397ed;
  --purple-4: #9974e7;
  --purple-5: #8051e1;
  --purple-50: #faf5ff;
  --purple-6: #6a42bd;
  --purple-7: #543498;
  --purple-8: #3f2574;
  --purple-9: #29174f;
  --purple-10: #13082b;
  --cyan-1: #dbf6f4;
  --cyan-2: #b7eee9;
  --cyan-3: #94e5de;
  --cyan-4: #70ddd3;
  --cyan-5: #4cd4c8;
  --cyan-6: #3eafa5;
  --cyan-7: #308a82;
  --cyan-8: #22655f;
  --cyan-9: #14403c;
  --cyan-10: #14403c;
  --pink-1: #fbdef5;
  --pink-2: #f8bceb;
  --pink-3: #f49be0;
  --pink-4: #f179d6;
  --pink-5: #ed58cc;
  --pink-6: #ca48ad;
  --pink-7: #a7388f;
  --pink-8: #852770;
  --pink-9: #621752;
  --pink-10: #3f0733;
  --gray-1: #f3f4f6;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --gray-4: #9ca3af;
  --gray-5: #6b7280;
  --gray-6: #4b5563;
  --gray-7: #374151;
  --gray-8: #1f2937;
  --gray-9: #111827;
  --info-1: var(--blue-1);
  --info-2: var(--blue-2);
  --info-3: var(--blue-3);
  --info-4: var(--blue-4);
  --info-5: var(--blue-5);
  --error-1: var(--red-1);
  --error-2: var(--red-2);
  --error-3: var(--red-3);
  --error-4: var(--red-4);
  --error-5: var(--red-5);
  --success-1: var(--green-1);
  --success-2: var(--green-2);
  --success-3: var(--green-3);
  --success-4: var(--green-4);
  --success-5: var(--green-5);
  --warning-1: var(--orange-1);
  --warning-1: var(--orange-2);
  --warning-1: var(--orange-3);
  --warning-1: var(--orange-4);
  --warning-1: var(--orange-5);
  --link: #3dadff;
  --primary-5: #275217;
  --primary-1: #d7ffc2;
  --neutral-1: #f2f2f2;
  --neutral-2: #e5e5e5;
  --neutral-3: #d1d1d1;
  --neutral-4: #a3a3a3;
  --neutral-5: #737373;
  --neutral-6: #525252;
  --neutral-7: #2e2e2e;
  --neutral-8: #1f1f1f;
  --neutral-9: #1a1a1a;
  --neutral-10: #000000;
  --neutral-05: #f7f7f7;
  --neutral-content-light: #a3a3a3;
  --neutral-content-strong: #121212;
  --neutral-content-medium: #525252;
  --neutral-border-medium: #a3a3a3;
  --neutral-flat-hover: rgba(0, 0, 0, 0.06);
  --gap-xsmall: 8px;
  --gap-small: 12px;
  --gap-medium: 16px;
  --gap-large: 24px;
  --gap-xlarge: 32px;
  --padding-xsmall: 8px;
  --padding-small: 12px;
  --padding-medium: 16px;
  --padding-large: 20px;
  --padding-xlarge: 24px;
  --leaf-default: #45b441;
  --tomato-default: #f65737;
  --amber-default: #f9a006;
  --negative-content-strong: #832b19;
  --positive-bg-subtle: #e2f7e1;
  --black-alpha-500: rgba(0, 0, 0, 0.55);
}

html[data-theme="dark"] {
  --primary-1: #8cd9ff;
  --primary-2: #67a7c9;
  --primary-3: #427492;
  --primary-4: #366380;
  --primary-5: #1d425c;
  --background-1: #2b4c6d;
  --background-2: #1d3c53;
  --background-3: #11314a;
  --background-4: #0c273b;
  --background-5: #081e2e;
  --link: #289eff;
  --ink-1a: rgba(22, 42, 51, 0.05);
  --ink-2a: rgba(22, 42, 51, 0.1);
  --ink-3a: rgba(22, 42, 51, 0.3);
  --ink-4a: rgba(22, 42, 51, 0.5);
  --ink-1: #f3f4f5;
  --ink-2: #e8eaeb;
  --ink-3: #b9bfc2;
  --ink-4: #8a9499;
  --ink-5: #162a33;
}
